    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Poppins', sans-serif;
        background-color: #252525;
    }
    
    .background {
        width: 100%;
        height: 100vh;
        background-size: cover;
        z-index: -99;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 0.9s ease-in-out;
    }

    .versions {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(37, 37, 37, 0.35);
        padding: 12px 15px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 0 0 0 12px;
    }

    .versions p{
        color: white;
    }

    .box-container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .admin-form,
    .welcome-form,
    .login-form {
        background-color: rgba(37, 37, 37, 0.35);
        width: 95%;
        padding-bottom: 50px;
        padding-top: 65px;
        border-radius: 24px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(50px);
    }

    .admin-form{
        height: 600px;
    }

    .logo_playstation{
        margin-bottom: 65px;
        filter: invert(100%);
        width: 50%;
    }

    .admin-form input[type="text"],
    .admin-form input[type="password"],
    .login-form input[type="text"],
    .login-form input[type="number"],
    .login-form input[type="password"] {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        color: rgb(37, 37, 37);
        display: block;
        width: 90%;
        height: 100px;
        padding: 16px 25px;
        margin-bottom: 15px !important;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 12px;
    }

    .admin-form #subAdmin {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        width: 90%;
        height: 100px;
        padding: 10px;
        background-color: #F15E51;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    .login-form button[type="submit"] {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        width: 90%;
        height: 100px;
        padding: 10px;
        background-color: #4B84E6;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    .login-form h3{
        color: white;
        font-weight: 400;
        font-size: 2rem;
        margin: 15px;
    }

    .login-form button[value="admin"] {
        margin-right: 10px;
        background-color: #F15E51;
    }

    .login-form button[value="tamu"] {
        background-color: #F3D95A;
    }

    .login-form button[value="admin"],
    .login-form button[value="tamu"] {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        height: 100px;
        width: 44.2%;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        color: white;
        margin-bottom: 16px;
    }

    .announce {
        background-color: rgba(255, 255, 255, 0.575);
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
        padding: 12px;
        text-align: left;
        font-size: 1.4rem;
        color: red;
        margin-bottom: 15px;
    }

    .container-rooms {
        background-color: rgba(0, 0, 0, 0.575);
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
        padding: 12px;
    }

    .container-rooms .rooms {
        color: white;
        font-weight: 300;
        text-align: center;
    }

    .container-rooms #number{
        font-weight: 700;
    }

    .welcome-form {
        height: 795px;
    }

    .welcome-form .selamat-datang {
        font-size: 2.5rem;
        font-weight: 600;
        color: white;
        background-color: rgba(0, 0, 0, 0.575);
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
        padding: 25px;
        margin-bottom: 12px;
    }

    .welcome-form button[value="billing"],
    .welcome-form button[value="makanan"] {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        width: 90%;
        height: 100px;
        padding: 10px;
        background-color: #F3D95A;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        margin-bottom: 12px;
    }


    /* @media only screen and (min-width: 600px) and (max-width: 959px) { */